/* CDN Fonts */
@import url('https://fonts.cdnfonts.com/css/noto-serif-kr');
@import url('https://use.typekit.net/vll4umt.css');
@import url('https://fonts.cdnfonts.com/css/roustel');

/* Font Faces */
@font-face {
    font-family: 'Aritaburi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* CSS Variables */
:root {
  --font-ko-main: 'Noto Serif KR', sans-serif;
  --font-ko-sub: 'Aritaburi', sans-serif;
  --font-en-main: 'Amandine', serif;
  --color-primary: #FFFFFF;
  --color-secondary: #39596F;
}